img {
    height: 200px;
    width: 200px;
    margin-bottom: 300px;
    border: 2px solid black;
}

/* obrot */
.rotate img {
    
    transform: rotate(20deg);
}

/* przesuniecie */

.translate img {
    transform: translate(200px, 100px);
}

/* skalowanie */

.scale img:hover {
    transform: scale(1.2);
}

.animation img {
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes resize {
    0%, 100% {
        height: 600px;
        width: 600px;
    }

    50%  {
        height: 1200px;
        width: 1200px;
    }
}